@media screen and (max-width:768px) {
    .item {
        display: none;
    }

    .item1{
        display: block !important;
        text-align: center !important;
       
    }

  }

  .item1{
      display: none;
      text-align: center !important;
  }

  .pie {
    padding-bottom:10px; 
    padding-top: 10px; 
    text-align: center; 
  }

.cabecera{
    padding-bottom:10px; 
    padding-top: 10px; 
    text-align: center; 
}

.logo{
    max-height:15vh;
    max-width: 100%;
}

.logo-maphi{
    max-height:160px;
    max-width: 100%;
}

.sombreado{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px !important; 
}

.bg-darkslategray{
    background-color: darkslategray !important;
}

.bg-slateblue{
    background-color:slateblue !important;
}

.bg-yellowgreen{
    background-color:yellowgreen !important;
}

.card{
    text-align: center !important;   
    border-radius: 4px !important;

}

.card-body{
    text-align: center !important;
    margin-top: 10px !important;
}

.card-body .div{
    text-align: center !important;

}

.card-text{
    font-size: 2vw;
    margin:0 !important; 
    padding:0 !important;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;  
 
}



.container {
    margin:0px !important; 
    padding-left:1em !important;
    padding-right:1em !important;
}

.titulo-chart{
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5px;  
}

.grafico{
    margin-top:0px;
    margin-bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.fontawesome{
    vertical-align: middle; 
    font-size: 10vh;
}

.EstadoPuerta {
    font-size: 0.8em;  
}
.Interruptor1 {
    font-size: 0.8em;
}

.Interruptor2 {
    font-size: 0.8em;
}